$background:black;
body{
	margin: 0px auto;
	background-image: url(https://d3ui957tjb5bqd.cloudfront.net/uploads/images/4/49/49283.og.jpg?1522224238);
	background-repeat: no-repeat;
	background-size: cover;
	}
nav{
	display: table;
  	height: 100vh;
  	width: 100%;
	background-color: rgba(0,0,0,0.7);
}
.container{
    background-color: $background;
	font-family: sans-serif;
	font-style: italic;
	max-width: 300px;
	box-shadow: 0px 0px 10px 3px black;
	min-height: 500px;
	margin:50px auto; 
    border-radius: 35px;
	background: linear-gradient(to top,#251e3e 0%,black 23%);
	background-blend-mode: multiply;
	header{
		img{
		width: 300px;
		height: 350px;
		border-top-left-radius:35px;
		border-top-right-radius:35px;
		border-bottom-left-radius:15px;
		border-bottom-right-radius:15px;
		}
	}
	main{
		align-content: center;
		img{
			margin-left: 45px;
			border-bottom-left-radius:20px;
			border-bottom-right-radius:20px;
			width: 200px;
			height: 50px;
		}
		h1{
			width: 100%;
			color: black;
			font-size: 1em;
			float: left;
			font-family: sans-serif;
			text-align: center;
			}
	}
}
@media (max-width:430px){
	body{
		background-color: rebeccapurple;
	}
	nav{
	display: table;
  	height: 100vh;
  	width: 100%;
	background-color: rgba(0,0,0,0.7);
	}
	.container{
		margin: 20px auto 10px;
		min-height: 500px;
	}
}