$background:black;
@media (min-width:500px){
	body{
	background-image: url(https://d3ui957tjb5bqd.cloudfront.net/uploads/images/4/49/49283.og.jpg?1522224238);
	background-repeat: no-repeat;
	background-size: cover;
	}
}
body{
	margin: 0px auto;
	}
nav{
	display: table;
  	height: 100vh;
  	width: 100%;
	background-color: rgba(0,0,0,0.7);
}
.container{
    background-color: $background;
	font-family: sans-serif;
	font-style: italic;
	max-width: 300px;
	box-shadow: 0px 0px 10px 3px black;
	min-height: 540px;
	margin:45px auto; 
    border-radius: 35px;
	background: linear-gradient(to top,#251e3e 0%,black 20%);
	background-blend-mode: multiply;
	header{
		img{
		width: 300px;
		height: 330px;
		border-top-left-radius:35px;
		border-top-right-radius:35px;
		border-bottom-left-radius:25px;
		border-bottom-right-radius:25px;
		}
	}
	main{
		img{
			margin-left: 45px;
			border-bottom-left-radius:20px;
			border-bottom-right-radius:20px;
			width: 200px;
			height: 60px;
		}
		h5{
			padding-left: 10px;
			color: steelblue;
			float: left;
			font-family: sans-serif;
		}
		.btn {
			margin-left: 10px;
			text-decoration: none;
			padding: 4px 8px;
			background-color: rgba(255,255,255,.2);
			color: rgba(255,255,255,1);
		}

		.btn-outline {
			background-color: transparent;
			border: 1px solid #ffffff;
		}

		.btn::before {
			font-family: 'Material Icons';
			content:'\25B6';
			vertical-align: middle;
			font-size: 1em;
			padding-right:.5em;
		}

		.btn-outline:hover {
			border-color: steelblue;
			color: steelblue;
			box-shadow: 0px 1px 8px 0px rgba(245,199,0,.2);
		}
		p{	
			float: left;
			text-align: justify;
			color:grey;
			font-weight: 100;
			line-height: 1;
			word-spacing:1px;
			margin: 0px 15px;
			font-weight: 700;
			opacity:.84;
		}
	}
}
@media (max-width:430px){
	body{
		background-color: rebeccapurple;
	}
	nav{
	display: table;
  	height: 100vh;
  	width: 100%;
	background-color: rgba(27,1,30,0.90);
	background-image: linear-gradient(to right,black 0%,rgba(27,1,30,0.90) 10%,rgba(42,2,47,0.90) 50%,rgba(27,1,30,0.90) 90%,black 100%);
	}
	.container{
		margin: 20px auto 10px;
		min-height: 500px;
	}
}